<div class="wrapper">
  <h1 class="numberOfEvent">Number {{ eventsDetail.id }} Event</h1>
  <div class="items">
    <div class="itemWrapper">
      <h1 class="Title">Event Name</h1>
      <h2 class="name">{{ eventsDetail.eventName }}</h2>
    </div>
    <div class="itemWrapper">
      <h1 class="Title">Date</h1>
      <h2 class="name">{{ eventsDetail.date }}</h2>
    </div>
    <div class="itemWrapper">
      <h1 class="Title">Venue</h1>
      <h2 class="name">{{ eventsDetail.venue }}</h2>
    </div>
    <div class="itemWrapper">
      <h1 class="Title">Organizer</h1>
      <h2 class="name">{{ eventsDetail.organizer }}</h2>
    </div>
  </div>
</div>
