.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  p {
    background-color: #34495e;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  span {
    font-weight: 600;
    color: #34495e;
    font-size: 40px;
  }
}
.text-wrapper {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // border: 2px solid steelblue;
  border-radius: 5px;
  padding: 15px 0;

  h3 {
    font-size: 35px;
  }
  span {
    font-size: 20px;
    color: #e74c3c;
  }
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .img-item {
    max-width: 600px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
